{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["standard-with-typescript", "prettier"],
  "parserOptions": { "project": ["./tsconfig.json"] },
  "rules": {
    "semi": "error",
    "object-curly-spacing": "error"
  }
}
